[Desktop Entry]
Name=GNU Octave
Comment=Scientific Computing using GNU Octave
Comment[pl]=Obliczenia naukowe przy pomocy GNU Octave
Icon=/usr/share/octave/3.4.0/imagelib/octave-logo.svg
Exec=octave
Terminal=true
Type=Application
Categories=ConsoleOnly;Education;Science;Math;
StartupNotify=false
# vi: encoding=utf-8
