[Desktop Entry]
Name=Octave
Comment=A high-level language for numerical computations (console)
Comment[pl]=Język wysokiego poziomu do obliczeń numerycznych (konsola)
Icon=
Exec=octave
Terminal=true
Type=Application
Encoding=UTF-8
Categories=Science;X-Numeric
# vi: encoding=utf-8
